.job-card{
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    gap: 60px;
    background-color: $white-950;
    border: 1px solid $black;
    padding: 85px 70px;
    box-shadow: inset rgba( 255, 255, 255, 0.7) 0px 0px 46px -6px; 
    border-radius: $xl-3-border-radius;
    .right-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 340px;
        .top-content{
            display: flex;
            flex-direction: column;
            width: fit-content;
            h3{
                font-size: $xl-3;
            }
            .date{
                font-weight: $bold;
            }
            #h3{
                font-weight: $light;
            }
        }
        
        .description{
            width: auto;
            font-weight: $light;
        }
    }
}


@media screen and (max-width: 780px){
    .job-card{
        flex-direction: column;
        text-align: center;
        gap: 30px;
        .left-content{
            img{
                width: 78px;
                height: 78px;
            }
        }
        .right-content{
            align-items: center;
            max-width: 200px;
            .top-content{
                h3{
                    font-size: $lg;
                }
            }
        }
    }
}