.about-page{
    margin: 100px 8.3%;
    display: flex;
    flex-direction: column;
    gap: 85px;
    .return{
        .button:hover{
            transform: translateX(-10px);
        }

    }
    .title{
        display: flex;
        flex-direction: column;
        gap: 50px;
        h1{
            filter: drop-shadow(0 0 40px $white) ;
        }

    }
    .about{
        display: flex;
        gap: 50px;
        align-items: center;
        .img-container{
            flex: 1;
            flex-basis: 49%;
            max-width: 500px;
            max-height: 610px;
            aspect-ratio: 50/70;
            background-color: grey;
            width: 100%;
            height: 100%;
            border-radius: $xl-2-border-radius;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .description{
            flex: 1;
            flex-basis: 49%;
            p{
                text-align: justify;
                filter: drop-shadow(0 0 10px $lynch-700) drop-shadow(0 0 0px $lynch-700) drop-shadow(0 0 30px $lynch-700);
            }

        
        }
    }
    .social{
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 515px;

        #mobile{
            display: none;
        }
    }
    .social-link{
        a:hover{
            scale: 1.2;
        }
    }
    .toolbox{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .experience{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 150px;
        h2{
            filter: drop-shadow(0 0 10px $white)  drop-shadow(0 0 50px $white);
        }
        .job-container{
            display: flex;
            flex-direction: column;
            gap: 100px;
            #left{
                transform: translate(-10%, 0);
            }
            #right{
                transform: translate(10%, 0);
            }
        }
    }
    
}

// 


@media screen and (max-width: 780px){
    .about-page{
        .title{
            gap: 25px;
        }
        .about{
            flex-direction: column;
        }
        .social{
            #desk{
                display: none;
            }
            #mobile{
                display:block;
                gap: 20px;
            }
        }
        .experience{
            gap: 50px;
            .job-container{
                gap: 30px;
                #left{
                    transform: translate(0, 0);
                }
                #right{
                    transform: translate(0, 0);
                }
            }
        }
    }
}