.container {
margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
}

.player {
  max-width: 100%;
  max-height: 100vh;
    border-radius: 10px;
}

.bande-demo-page {
    padding: 5%;


}