*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
}

h1, h2, h3, h4, h5, h6{
    font-family: $title-font;
    color: $white;
}

p, a, span, li, input, textarea, button{
    font-family: $base-font;
    color: $white;
    text-decoration: none;

}

body{
    background-color: $black;
    position: relative;
}

svg{
    display: flex;
}

#h1{
    font-size: $xl-6;
} 

#h2{
    font-size: $xl-4;
}

#h3{
    font-size: $lg;
}

#bt{
    font-size: $xl;
}

#p{
    font-size: $base;
}
#xs{
    font-size: $sm;

}
#drop-lt{
    filter: drop-shadow(0 0 10px $white) drop-shadow(0 0 30px $white) ;
}
.lt-title{
    display: flex;
    gap: 20px;
    align-items: center;

    .circle{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $white;
    }
}
.iframe-container{
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lottie{
    height: 24px;
    cursor: pointer;
}
.iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.underline{
    display: flex;
    flex-direction: column;
    width: fit-content;
    h1,h2{
        z-index: 30;
    }
    .rectangle{
        width: 100%;
        height: 15px;
        background-color: $lynch-700;
        transform: translateY(-20px);
        z-index: 29;
    }
    .rectangle-lt{
        width: 100%;
        height: 10px;
        background-color: $lynch-700;
        transform: translateY(-15px);
        z-index: 29;
    }
}
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content{
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
    cursor: zoom-out;
    
}


@media screen and (max-width: 780px){
    #bt{
        font-size: $sm;
    }
    #h1{
        font-size: $xl-2;
    }
    #h2{
        font-size: $xl;
    }
    #base{
        font-size: $sm;
    }

    .rectangle{
        transform: translateY(-10px) !important;
        height: 10px !important;
    }
    .rectangle-lt{
        transform: translateY(-5px) !important;
        height: 5px !important;
    }

}

