/* colors */
$cod-gray-50: #f6f6f6;
$cod-gray-100: #e7e7e7;
$cod-gray-200: #d1d1d1;
$cod-gray-300: #b0b0b0;
$cod-gray-400: #888888;
$cod-gray-500: #6d6d6d;
$cod-gray-600: #5d5d5d;
$cod-gray-700: #4f4f4f;
$cod-gray-800: #454545;
$cod-gray-900: #3d3d3d;
$cod-gray-950: #0f0f0f;

$lynch-50: #f3f8fa;
$lynch-100: #e9f2f6;
$lynch-200: #d7e7ee;
$lynch-300: #bfd5e2;
$lynch-400: #a5bfd4;
$lynch-500: #8daac7;
$lynch-600: #7690b5;
$lynch-700: #7085a6;
$lynch-800: #526581;
$lynch-900: #475568;
$lynch-950: #29303d;

$white-50: #ffffff;
$white-100: #efefef;
$white-200: #dcdcdc;
$white-300: #bdbdbd;
$white-400: #989898;
$white-500: #7c7c7c;
$white-600: #656565;
$white-700: #525252;
$white-800: #464646;
$white-900: #3d3d3d;
$white-950: #292929;

$black: $cod-gray-950;
$white: $white-50;
// font family
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$title-font: 'Popins', sans-serif;
$base-font: 'Manrope', sans-serif;

// font size
$xs: 12px;
$sm: 14px;
$base: 16px;
$lg: 18px;
$xl: 20px;
$xl-2: 24px;
$xl-3: 30px;
$xl-4: 36px;
$xl-5: 48px;
$xl-6: 60px;
$xl-7: 72px;
$xl-8: 96px;
$xl-9: 128px;

// font weight
$light: 300;
$regular: 400;
$bold: 700;

// bordeer-radius

$s-border-radius: 5px;
$m-border-radius: 10px;
$l-border-radius: 15px;
$xl-border-radius: 20px;
$xl-2-border-radius: 30px;
$xl-3-border-radius: 45px;

//height

$h-full: 100vh;
