@import './variables.scss';
@import './settings.scss';
@import './pages/home.scss';
@import './components/footer.scss';
@import './components/button.scss';
@import './components/header.scss';
@import './components/card';
@import './components/social';
@import './components/langueSwitcher';
@import './components/projectDetails';
@import './pages/project.scss';
@import './components/showreel';
@import './pages/bande-demo';